{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix') }}>

  {{ title_suffix.contextual_links }}
<div class="row ">
	<div class="col-sm-4 " style="border:5px double;">
		{{ ds_content.field_lab_image }}
	</div>
	<div class="col-sm-8 ml-5" style="padding-left:50px;">
 {# {{ ds_content.field_area }} 
   {{ ds_content.field_lab_equipment_cost }}
     {{ ds_content.	field_utilisation_of_lab }}
      {{ ds_content.body }}
#}
{{ ds_content|without('field_lab_image') }}


  </div>    

</{{ ds_content_wrapper }}>
